extends layout

block content
	h1= title
	
	.div
		table.table.table-bordered
			thead
				tr
					th College name
					th Student name
					th Secretary name
					th Faculty Incharge name
					th Boys Games
					th Girls Games
					th Email
					th Faculty Incharge Email
					th Mobile
					th Secretary Mobile
			tbody
			for u in result
				tr
					td #{u.institute}
					td #{u.name}
					td #{u.sName}
					td #{u.fname}
					td #{u.games}
					td #{u.ggames}
					td #{u.email}
					td #{u.femail}
					td #{u.mobile}
					td #{u.sMobile}
